.main_nav{
     width: 100%;
     height: 5%;
     /* background-color: rgb(239, 92, 92); */
     display: flex;
     position: relative;
}
.left_nav{
    width: 20%;
    height: 10%;
    /* background-color: red; */
    display:flex;
    position: absolute;
    left: 100px;
    top: 15px;
    justify-content: space-around;
}
.right_nav{
    width: 30%;
    height: 10%;
    /* background-color: red; */
    display:flex;
    position: absolute;
    /* left: 800px; */
    right: 0;
    top: 15px;
    justify-content:space-around;
}
.head{
    width: 100%;
    height: 500px;
    /* background-color: aqua; */
    display: flex;
    position: relative;
    top: 10px;
}
 
.head_left{
    width: 60%;
    height: 80%;
    /* background-color: yellow; */
    display: flex;
    position: absolute;
    top: 20px;
    

}
.head_icon1{
    width: 90px;
    height: 30px;
    display: flex;
    position: absolute;
    /* justify-content: space-evenly; */
    left: 20px;
    top: 250px;
    
    
}
    
.head_icon2{
    width: 90px;
    height: 30px;
    display: flex;
    position: absolute;
    /* justify-content: space-evenly; */
    left: 200px;
    top: 250px;
    
    
}
.head_right{
    width: 50%;
    height: 50%;
    display: flex;
    position:absolute;
    /* left: 700px; */
    right: 0;
     

}
.courses-cards{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    
}
#red_color{
    color: red;
}
.cards{
    width: 100%;
    display: flex;
    /* position: relative; */
    justify-content: space-between;
    gap: 20px;


}
.card1{
    width: 22%;
    height: 300px;

    background-color: aliceblue;
    border: 5px solid black;
     
     
    
}
.cards2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    gap: 20px;

}
.card2{
    
    width: 22%;
    height: 300px;

    background-color: aliceblue;
    border: 5px solid black;
}

/* #free{
    justify-content: space-between;
} */
#btn{
    background-color: yellow;
    border-radius: 5%;
}
#explore_btn{
     display: flex;
     justify-content: center;
     margin-top: 10px;
}
.all_course{
    width: 70%;
    height: 0px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    
}
.course_tpye{
     
    border : 5px solid grey;


}
.content{
    width: 100%;
    height: 1000px;
    background-color: rgb(33, 33, 203);
    color: white;
    margin-top: 20px;
    display: flex;
     justify-content:space-around;

}
/* .left_content{
    

} */
.right_content{
    width: 50%;
    margin-left: 70px;
     
    


}
.Democratizingtext{
    color: white;
    width: 48%;
   
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;

}