* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



    .navbar {
      background: #fff;
      padding: 12px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      display: flex;
      justify-content: center;
      gap: 12px;
    }

    .navbar button {
      padding: 10px 18px;
      border: none;
      border-radius: 25px;
      font-size: 16px;
      cursor: pointer;
      background: #f0f0f0;
      color: #333;
      transition: 0.3s;
    }


    .navbar button:hover {
      background: #007bff;
      color: #fff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    }

    .navbar #active {
      background: #007bff;
      color: #fff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

h1 {
    text-align: center;
    padding: 1.5em;
}
.container{
    width: 100%;
}
.main{
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    margin: 0 auto;
}
.items{
width: 250px;
height: 290px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.items img{
    margin-top: 1em;
    width: 100px;
}